@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717; 
  --color-primary: #230d7c; 
  --light-gray: #555;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.bg-primary {
  background: var(--color-primary);
}

.bg-secondary {
  background: url('/bg-2.png') no-repeat center center / cover;
}

.text-primary {
  color: var(--color-primary);
}

.placeholder-primary {
  color: var(--light-gray);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(18, 0, 61, 0.9);
  z-index: -1;
}

button {
  cursor: pointer;
}
